<%= content_for(:title, "Login") %>
<div class="row row-full-height">
  <div class="col-md-4 col-md-offset-2">
    <%= image_tag "kick_push.png", size: "200x200", id: "login_icon", class: "center" %>
  </div>
  <div class="col-md-4">
    <h1>Login</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email, 'Email'%>
      <%= f.text_field :email, class: "form-control", required: true, placeholder: "test@example.com" %>
      <%= f.label :password, 'Password' %>
      <%= f.password_field :password, class: "form-control", required: true %>
      <%= f.submit "Login", class: "btn btn-primary" %>
    <% end %>
    <p></p>
    <p>Don't have an account? <%= link_to 'Sign up now!', signup_path %></p>
  </div>
</div>