<%= content_for(:title, "Your Orders") %>
<h1>Your Orders</h1>
<div class="row">
	<% if @orders.any? %>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Order ID</th>
					<th>Order Date</th>
					<th>Order Details</th>					
				</tr>
				<% @orders.each do |order| %>
					<tr>
						<td><%= order.id %></td>
						<td><%= order.created_at %></td>
						<td><%= link_to "view", order_path(order) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<i>You do not have any orders yet! Try <%= link_to "shopping by category!", home_path %></i>
	<% end %>
</div>