<!DOCTYPE html>
<html>
<head>
    <%= render "html_head", title: full_title(yield(:title)) %>
</head>
<body>

  <%= render "navbar" %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Upcoming events</h3>
        <ul class="upcoming">
          <li>
            <span class="event-date">March 5</span>
            <div class="event">Go Skating Day</div>
          </li>
          <li>
            <span class="event-date">April 7</span>
            <div class="event">Blow Out Sale</div>
          </li>
          <li>
            <span class="event-date">August 1</span>
            <div class="event">Back To School Sale</div>
          </li>
        </ul>

        <h3>Skateboards</h3>
        <ul class="nav-list">
          <% @cat_skateboards.each do |cat| %>
            <li>
              <i class="glyphicon glyphicon-menu-right"></i>
              <%= link_to cat.name.capitalize, category_path(cat.name)%>
            </li>
          <% end %>
        </ul>

        <h3>Clothing</h3>
        <ul class="nav-list">
          <% @cat_clothing.each do |cat| %>
            <li>
              <i class="glyphicon glyphicon-menu-right"></i>
              <%= link_to cat.name.capitalize, category_path(cat.name)%>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-9">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
        <%= yield %>
      </div>
    </div>
  	
    <%= render "footer" %>
    <%= debug(params) if Rails.env.development? %>
  </div>

</body>
</html>
