<!DOCTYPE html>
<html>
<head>
    <%= render "html_head", title: full_title(yield(:title)) %>
</head>
<body>

  <%= render "navbar" %>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <% if flash.any? %>
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if params[:action] == "welcome" %>
    <div class="jumbotron">
  		<div class="container">
  		  <h1>Shred, Skate, Shop!</h1>
  		  <p>Eastern Shredder is an online skateboard shop for all your skating needs. We sell boards, wheels, bearings, and clothing. Hurry up while supplies last!</p>
  		  <p>
          <%= link_to "Register", signup_path, class: "btn btn-primary btn-lg" %>
        </p>
  		  <p>Already have an account? <%= link_to "Login", login_path, role: "button" %></p>
  		</div>
    </div>
  <% end %>
  <div class="container">
  	<%= yield %>
    <%= render "footer" %>
    <%= debug(params) if Rails.env.development? %>
  </div>

</body>
</html>
